/* 
    Created on : Jul 5, 2016, 12:42:05 PM
    Author     : Skywalker
*/

#modal-popup {
    /*border: 1px solid red;*/
}

.modal-content {
/*    border: 1px solid green;*/
    margin: 0;
}

.modal-dialog {
    margin: 0;
    /*border: 1px solid blue;*/
}

.modal-body {
    background-color: #00BCD4;
    margin: 0;
}

#about {
    /*border: 1px solid red;*/
    width: calc(100% - 340px);
}

.name {
    font-family: 'Handlee';
    color: #fff;
    margin-bottom: 20px;
}

.offer-description {
    font-family: 'Inconsolata';
    font-size: 16px;
    color: #fff;
}

.owner {
    /*border: 1px solid red;*/
    text-align: right;
    margin-top: 50px;
    font-family: 'Handlee';
    font-size: 16px;
    color: #fff;
}

#info {
    width: 300px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: -40px;
    right: 40px;
}

.currentImg {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.media {
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    /*border: 1px solid green;*/
    height: 70px;
    width: 100%;
    text-align: center;
}

.media > a {
    margin-right: 10px;
}

.media > a:last-child {
    margin-right: 0px;
}

.media > a > img {
    width: 50px;
}


