/* 
    Created on : May 27, 2016, 9:39:40 PM
    Author     : Skywalker
*/

#footer-box {
    /*border: 1px solid blue;*/
    margin: 0;
    padding: 0;
    /*background-color: #00BCD4;*/
    height: 100px;
}

.footer {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    height: 100%;
}

#news-call {
    background-image: url('../img/stars.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


