/* 
    Created on : May 27, 2016, 9:39:40 PM
    Author     : Skywalker
*/

#footer {
    /*border: 1px solid blue;*/
    margin: 0;
    padding: 0;
    /*background-color: red;*/
    box-shadow: 0px -1px 10px #4c4c4c;
}

#media {
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 20px;
    color: #4c4c4c;
    /*border: 1px solid blue;*/
    padding-top: 50px;
}

#media p {
    margin-top: 10px;
}

#fb, #twit, #in, #goo {
    color: #4c4c4c;
    font-size: 40px;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

#fb:hover {
    color: #3b5998;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

#twit:hover {
    color: #326ada;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

#in:hover {
    color: #0077B5;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

#goo:hover {
    color: #d34836;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

#footer p {
    font-family: Josefin Slab;
    font-size: 18px;
}

#news {
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}

#news-form {
    
    margin : 0 auto;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#newsletter {
    margin: 0;
    padding: 0;
    background-color: #00BCD4;
    width: 100%;
    /*box-shadow: 0px 0px 5px #4c4c4c;*/
    box-shadow: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#newsletter h2 {
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
    color: #fff;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    font-weight: bold;
}

#newsletter input {
    width: 60%;
    box-shadow: none;
    border: none;
    background-color: #00BCD4;
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 40px;
    font-family: Josefin Slab;
    /*border: 1px solid red;*/
    margin: 0;
    text-align: left;
    padding-left: 10px;
}

#newsletter button {
    width: 30%;
    background-color: #fff;
    color: #00BCD4;
    height: 40px;
    margin: 0;
    border: 2px solid #fff;
}

#newsletter button:hover {
    background-color: #00BCD4;
    color: #fff;
}

#newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}

#newsletter ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}

#newsletter :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}

#newsletter :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}