/* 
    Created on : May 27, 2016, 9:09:11 PM
    Author     : Skywalker
*/

* {
    padding: 0;
    margin: 0;
}

header {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #00BCD4;
    height: 80px;
    box-shadow: 0px 4px 15px #4c4c4c;
    top: 0;
    position: fixed;
    z-index: 100;
}

#logo-h {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Courgette;
    /*text-shadow: 2px 2px 10px white;*/
    letter-spacing: 5px;
    float: left;
    /*border: 1px solid green;*/
    margin-left: 20px;
    margin-top: 20px;
}

#menu {
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
    font-weight: bold;
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
    /*border: 1px solid blue;*/
}

#menu li, #menu li a {
    display: inline-block;
    text-align: center;
    /*border: 1px solid black;*/
}

#menu li a {
    /*border: 1px solid green;*/
    padding: 20px;
    border-top: 4px solid #00BCD4;
    -webkit-transition: border-top 0.5s ease-out;
    -moz-transition: border-top 0.5s ease-out;
    -o-transition: border-top 0.5s ease-out;
    transition: border-top 0.5s ease-out;   
}

#menu li a:link, #menu li a:hover, #menu li a:active, #menu li a:visited {
    text-decoration: none;
    color: #fff;
}

#menu li a:hover {
    border-top: 4px solid #fff;
    -webkit-transition: border-top 0.5s ease-out;
    -moz-transition: border-top 0.5s ease-out;
    -o-transition: border-top 0.5s ease-out;
    transition: border-top 0.5s ease-out;
}

#clear-header {
    clear: both;
}

#res-icon-menu {
    height: 40px;
    background-color: #fff;
    width: 50px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 7px #4c4c4c;
    cursor: pointer;
    padding-top: 9px;
    display: none;
}

#res-icon-menu div{
    width: 50%;
    background-color: #00BCD4;
    height: 3px;
    margin: 0 auto;
    margin-top: 3px;
    border-radius: 5px;
}

#side-menu {
    width: 100%;
    /*height: 300px;*/
    /*background-color: red;*/
    position: absolute;
    top: 80px;
    left: -100%;
    z-index: 1;
    background-color: #00BCD4;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: left 1s linear;
    -moz-transition: left 1s linear;
    -o-transition: left 1s linear;
    transition: left 1s linear;
    /*border-bottom: 2px solid #4c4c4c;*/
}

#side-menu-list {
    margin: 0;
    padding: 0;
    font-family: Josefin Slab;
    font-weight: bold;
    list-style-type: none;
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
    /*border: 1px solid red;*/
    width: 100%;
}

#side-menu-list li {
    /*border: 1px solid green;*/
}

#side-menu-list li a {
    /*border: 1px solid black;*/
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #00ACC1;
    z-index: 2;
    position: relative;
}

#side-menu-list li a:nth-child(1) {
    border-top: 1px solid #00ACC1;
}

#side-menu-list li a:link, #side-menu-list li a:hover, #side-menu-list li a:active, #side-menu-list li a:visited {
    text-decoration: none;
    color: #fff;
}

#side-menu-list li a:hover {
    background-color: #fff;
    color: #00BCD4;
}

#close {
    width: 50px;
    margin-bottom: 5px; 
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #menu {
        display: none;
    }
    
    #res-icon-menu {
        display: block;
    }
}

