/* 
    Created on : Jun 5, 2016, 5:40:04 PM
    Author     : Skywalker
*/

body, html {
    position: absolute;
}

#items {
    padding-top: 100px;
    /*border: 1px solid red;*/
    min-height: calc(100% - 100px);
    /*background-size: contain;*/
    display: -webkit-flex;
    display: flex;
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #EEEEEE;
}

.item {
    flex: 0 0 300px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 20px;
    height: 300px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .35);
    transition: box-shadow .2s;
}

.wallpaper {
    width: 300px;
    height: 300px;
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.info {
    background-color: #fff;
    padding: 9px;
    margin: 0;
    height: 70px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    /*float: left;*/
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
}

.info img {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    /*display: inline-block;*/
}

.text {
    width: 190px;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    display: inline-block; 
    vertical-align: middle;
}

.company {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 20px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.icons {
    /*border: 1px solid red;*/
    /*width: 20px;*/
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    height: 100%;
}

.favorite, .like {
    padding: 0;
    margin: 0;
    /*font-size: 10px;*/
}

.favorite {
    color: #F44336;
}

.like {
    color: #00BCD4;
}

.item:hover > .wallpaper {
    opacity: 0.6;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.item:hover > .info {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
} 

.item:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}