/* 
    Created on : Jun 5, 2016, 5:40:04 PM
    Author     : Skywalker
*/

* {
    padding: 0;
    margin: 0;
}

html {
   /*position: relative;*/
   height: 100%;
   padding: 0;
   margin: 0;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    border: 1px solid black;
}

#box-content {
    /*margin-bottom: 20px;*/
    position: relative;
    min-height:100%;
}

#top-space {
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.content {
    margin: 0;
    padding: 0;
    /*margin-top: 80px;*/
    /*border: 1px solid red;*/
}

.box {
    border: 1px solid green;
    padding: 20px;
}

.event img {
    width: 50px;
}

/*#bottom-space {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}*/


