* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    position:absolute;
    height: 100%;
    width: 100%;
    /*border: 1px solid blue;*/
}

#box {
    margin: 0;
    padding: 0;
    min-height: calc(100% - 80px);
    height: auto;
    margin-top: 80px;
    /*border: 1px solid red;*/
    background-color: #00BCD4;
    display: flex;
    align-items: center;
}

.form-box {
    margin: 0;
    padding: 0;
    height: auto;
    /*border: 1px solid red;*/
}

#register-box {
    border-left: 1px solid #fff;
}

#login-box {
    border-right: 1px solid #fff;
}

header {
    box-shadow: none;
    background-color: #00B8D4;
}

#logo-h {
    display: none;
}

#logo-img {
    display: block; 
}

#menu li a {
    border-top: 4px solid #00B8D4; 
}

#side-menu {
    background-color: #00B8D4;
}

.form-container {
    padding-top: 30px;
    text-align:center;
    width: 400px;
    /*border: 1px solid green;*/
    height: 430px;
    margin: 0 auto;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}

.group { 
    position: relative; 
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    /*border: 1px solid red;*/
}

.fields {
    width: 100%;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #fff;
    outline: none;
    background: #00BCD4;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
}

.group label {
    /*border: 1px solid red;*/
    display: inline-block;
    /*border: 1px solid red;*/
    /*width: 100%;*/
    /*text-align: left;*/
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: all 0.2s ease;
}

.group input:focus ~ label, .group input.used ~ label {
    top: -20px;
    transform: scale(.75);
    left: -2px;
    /* font-size: 14px; */
    color: #fff;
}

#remember {
    /*border: 1px solid black;*/
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#remember label {
    display: inline-block;
    /*border: 1px solid red;*/
    /*width: 90%;*/
    /*text-align: left;*/
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    /*border: 1px solid red;*/
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.form-container button {
    margin-top: 30px;
    border: none;
    background-color: #00BCD4;
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
}

.form-container a {
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #fff;
    font-size: 15px;
    /*margin-bottom: 20px;*/
    margin-top: 30px;
    /*border: 1px solid red;*/
}

.form-container a:link, .form-container a:hover, .form-container a:active, .form-container a:visited {
  color: #fff;
}

@media screen and (max-width: 1200px) {    
    #box {
        display: block;
    }
    
    .form-box {
        margin-top: 0;
    }
    
    #register-box {
        border-left: none;
        border-top: 1px solid #fff;
        margin-bottom: 20px;
        padding-top: 50px;
    }

    #login-box {
        border-right: none;
        border-bottom: 1px solid #fff;
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px) {      
    .form-container {
        width: 90%;
    }
}
